* text=auto

/scripts export-ignore
/tests export-ignore
/tools export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/example.php export-ignore
/phpunit.xml.dist export-ignore
/.github export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon export-ignore
/.coveralls.yml export-ignore
/logs export-ignore
