parameters:
    ignoreErrors:
        - '#Class Symfony\\Component\\Process\\ProcessBuilder not found.#'
        - '#Instantiated class Symfony\\Component\\Process\\ProcessBuilder not found.#'
        - '#Call to method setPrefix\(\) on an unknown class Symfony\\Component\\Process\\ProcessBuilder#'
        # To be fixed:
        - '#Call to an undefined method RecursiveIteratorIterator::getSubPathName\(\)#'
        - '#Call to an undefined method Facebook\\WebDriver\\WebDriver::getTouch\(\)#'
        - '#Call to an undefined method Facebook\\WebDriver\\WebDriverElement::getCoordinates\(\)#'
        - '#Call to an undefined method Facebook\\WebDriver\\WebDriverElement::equals\(\)#'
        - '#Unsafe usage of new static\(\)#'

        # Parameter is intentionally not part of signature to not break BC
        - message: '#PHPDoc tag \@param references unknown parameter: \$isW3cCompliant#'
          path: 'lib/Remote/RemoteWebDriver.php'

    inferPrivatePropertyTypeFromConstructor: true
